<h1>Listing jobs</h1>
<hr>
<table class="table">
  <tr>
    <th>Company</th>
    <th>My title</th>
    <th>Description</th>
    <th>From date</th>
    <th>To date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.company %></td>
    <td><%= job.my_title %></td>
    <td><%= job.description %></td>
    <td><%= job.from_date %></td>
    <td><%= job.to_date %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
