<h1>Edit your Header</h1>
<hr>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Quotation</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Pdf file name</th>
    <th>Location</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @header.name %></td>
    <td><%= @header.title %></td>
    <td><%= @header.quotation %></td>
    <td><%= @header.phone %></td>
    <td><%= @header.email %></td>
    <td><%= @header.pdf_file_name %></td>
    <td><%= @header.location %></td>
    <td><%= @header.summary %></td>
    <td><%= link_to 'Edit', edit_header_path(@header) %></td>
    <td><%= link_to 'Destroy', @header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

</table>

<br />
