<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @header.name %>
</p>

<p>
  <b>Title:</b>
  <%= @header.title %>
</p>

<p>
  <b>Quotation:</b>
  <%= @header.quotation %>
</p>

<p>
  <b>Phone:</b>
  <%= @header.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @header.email %>
</p>

<p>
  <b>Pdf file name:</b>
  <%= @header.pdf_file_name %>
</p>

<p>
  <b>Location:</b>
  <%= @header.location %>
</p>

<p>
  <b>Summary:</b>
  <%= @header.summary %>
</p>


<%= link_to 'Edit', edit_header_path(@header) %> |
<%= link_to 'Back', headers_path %>
