<div class="span9">
  <%= image_tag('peter_holland.png', :class => "img-polaroid")  %>


  <h1><%= @header.name %></h1>
  <h6><%= @header.title %></h6>
  <p>"<%= @header.quotation %>"</p>

  <div class="clearfix"></div>
  </div>
  <div class="span3 hidden-phone">
  <ul>
    <li><i class="icon-envelope-alt"></i> <%= @header.email %></li>
    <li><i class="icon-home"></i> <%= @header.location %></li>
    <li><i class="icon-user"></i> <%= @header.phone %></li>
    <li><btn class="btn btn-warning"><%= link_to "Download Resume PDF", "blah.pdf" %></btn></li>
  </ul>


  </div>
  